/demo/.idea/shelf/Uncommitted_changes_before_Update_at_7_31_2024_1_04_AM_[Changes]/buildOutputCleanup.lock
/demo/.idea/shelf/Uncommitted_changes_before_Update_at_7_31_2024_1_04_AM_[Changes]/executionHistory.bin
/demo/.idea/shelf/Uncommitted_changes_before_Update_at_7_31_2024_1_04_AM_[Changes]/executionHistory.lock
/demo/.idea/shelf/Uncommitted_changes_before_Update_at_7_31_2024_1_04_AM_[Changes]/file-system.probe
/demo/.idea/shelf/Uncommitted_changes_before_Update_at_7_31_2024_1_04_AM_[Changes]/fileHashes.bin
/demo/.idea/shelf/Uncommitted_changes_before_Update_at_7_31_2024_1_04_AM_[Changes]/fileHashes.lock
/demo/.idea/shelf/Uncommitted_changes_before_Update_at_7_31_2024_1_04_AM_[Changes]/outputFiles.bin
/demo/.idea/shelf/Uncommitted_changes_before_Update_at_7_31_2024_1_04_AM_[Changes]/previous-compilation-data.bin
/demo/.idea/shelf/Uncommitted_changes_before_Update_at_7_31_2024_1_04_AM_[Changes]/resourceHashesCache.bin
/demo/.idea/shelf/Uncommitted_changes_before_Update_at_7_31_2024_1_04_AM_[Changes]/shelved.patch
/demo/.idea/shelf/Uncommitted_changes_before_Update_at_7_31_2024_1_04_AM_[Changes]/taskRestController.class
/demo/.idea/shelf/Uncommitted_changes_before_Update_at_7_31_2024_1_04_AM_[Changes]/userRestController.class
/demo/.idea/shelf/Uncommitted_changes_before_Update_at_7_31_2024_1_04_AM__Changes_.xml
/demo/.idea/compiler.xml
/demo/.idea/gradle.xml
/demo/.idea/jarRepositories.xml
/demo/.idea/misc.xml
/demo/.idea/vcs.xml
/demo/.idea/workspace.xml
